

<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>vue-zyy</title>
<link rel="stylesheet" href="css/jquery.fullPage.css"><style>
* { margin: 0; padding: 0;}
body { font: 16px/1.8 "Microsoft Yahei",verdana; min-width: 1366px; max-width: 1920px;}
.section{background:url(./images/section.jpg) no-repeat; background-size:cover;  width:100%;overflow: auto; min-height: 700px;}
.section img{ max-width:30%; margin-left:10%; }
.section1 .user{ margin:0px 0px 0px 20px; }
.section .right{ width:50%; float:right; }
.section1 .right p{ font-size:28px; }
.section1 .right p:first-child{ font-size:40px; padding-top:25%; color:#41b883; }
.section  .title{ font-size:22px;  padding:15px 0px;text-align: center; }
.section2 .left{ width:45%; float:left; }
.section2 .right{width:45%; float:right; }
.section2 .bar{ min-height: :400px;padding:15px 0px; margin:20px 2.2%;  background:rgba(0,0,0,0.1);}
.section2 .bar p{ padding:10px 20px; font-size:25px; }
.section2 .bar input{ padding:0px 10px;  margin:0px 0px 20px 20px;line-height:35px; font-size:25px; }
.section3 ul:after, .section5 ul :after,  .section6 ul:after{display:block; height:0; clear:both; content:""; visibility: hidden;  }
.section3 ul li{ width:29%;  height:45%;margin:10px 1.5%; padding:10px 0.5%; float:left;  background:rgba(0,0,0,0.1);  list-style-type: none; overflow: 
auto;font-size:16px; }
/*定义滚动条轨道 内阴影+圆角*/
 .section5 ul li::-webkit-scrollbar ,.section3 ul li::-webkit-scrollbar ,.section6 ul li::-webkit-scrollbar {/*滚动条整体样式*/
            width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 4px;
        }
 .section5 ul li::-webkit-scrollbar-thumb,.section3 ul li::-webkit-scrollbar-thumb,.section6 ul li::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.2);
        }
        .section3 ul li::-webkit-scrollbar,.section6 ul li::-webkit-scrollbar {
            width: 12px;
            background-color: #f0f0f0;
        }
 .section4 .t{ font-size:18px; padding:10px 15px;color:#333; }
 .section4 .icon{ height:200px;  border:1px solid #ccc; max-width: 100%; margin-left:25px; margin-top:100px !important;}
 .section5-con{ padding:0px 20px; font-size:18px;}
  .section5 ul,.section3 ul,.section6 ul{ height:80%; }
 .section5 ul li,.section6 ul li{width:29%; margin:10px 1.5%; padding:10px 0.5%; float:left;  background:rgba(0,0,0,0.1);  list-style-type: none; overflow: 
auto;font-size:16px; height:96%;}
   .section6 ul::-webkit-scrollbar,.section5 ul li::-webkit-scrollbar {
            width: 12px;
            background-color: #eeeeee;
        }
        .section10{ text-align: center; padding-top:200px; font-size:60px; color:#41bb83; font-weight:bold; }
 #example  button{ width:60px; height:40px; }
.con-left{ float:left; width:40%; }
#components-demo{ padding-left:30px; }
#components-demo button{ height:40px; margin:10px 10px;  font-size:30px;}
/* CSS3过度及动画 */
</style>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script type="text/javascript">
	Vue.component('button-counter', {
	  data: function () {
	    return {
	      count: 0
	    }
	  },
	  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
	})

</script>
</head>
<body>
<div class="section section1" >
	<img  src="./images/logo.png" class="icon"/>
	<div class="right">
		<p>Vue-轻量级的前端mvvm框架</p>
		<p>双向绑定</p>
		<p>组件化</p>
		<p onclick="fun()">数据驱动</p>
		<p>简洁...高效...<a href="./images/user.jpg" style="color:#333;">良心文档</a>...易上手XXX</p>	
	</div>
</div>
<div class="section section2">
	<p class="title">从hello world开始</p>
	<div class="left">
		<div class="bar">
			<p>ko</p>
			<div class="html">
				<p data-bind="text:value"></p>
				<input type="text" data-bind="value:value" />
			</div>
		</div>
		<div class="bar" id="app">
			<p>vue</p>
			<div class="html">
				<p>{{msg}}</p>
				<input type="text"  v-model="msg"/>
			</div>
		</div>
		
	</div>
	<div class="bar right">
		<p>Vue实例</p>
		<div style="padding-left:20px; margin-top:20px;">
		&lt;div id="app"><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&lt;p>{{msg}}&lt;p><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text"  v-model="msg"/><br>
		&lt;/div><br>
		var app = new Vue({<br>
		&nbsp;&nbsp;&nbsp;&nbsp;el:"#app",<br>
		&nbsp;&nbsp;&nbsp;&nbsp;data:{<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;msg:"hello world"<br>
		&nbsp;&nbsp;&nbsp;&nbsp;}<br>
		})
		</div>
	</div>
</div>
<div class="section section3">
	<p class="title">基本语法</p>
	<ul>
		<li contentEditable="true" >
			<b>数据渲染：</b>{{}}<br/>
			&lt;p  v-text="html1"&gt;&lt;/p&gt;<br/>	
			<b>属性渲染：</b>v-bind<br/>
			&lt;h1 v-bind:title="message"&gt;hello&lt;/h1&gt;<br/>
			&lt;a :href="url"&gt;hello&lt;/a&gt;<br/>
			<b>修饰符：</b><br/>
			&lt;input v-model.lazy="massage"><br/>
			&lt;input v-model.number="massage"><br/>
			&lt;input v-model.trim="message">
		</li>
		<li contentEditable="true" >
			<b>类名渲染：</b><br/>
			&lt;div v-bind:class="active : isActive"&gt;&lt;/div&gt;<br/>
			&lt;div v-bind:class="isActive ? active : red"&gt; &lt;/div&gt; 
			<b>样式渲染：</b><br/>
			 &lt;div v-bind:style="{width:width}">&lt;/div><br/>
			 &lt;div v-bind:sytle="styleObj">&lt;/div><br/>
			&lt;div v-bind:style="[styleObj1,styleObj2]">&lt;/div>
		</li>
		<li contentEditable="true" >
			<b>条件绑定：</b><br/>
			&lt;p v-if="seen">hahah&lt;/p>//有无内容<br/>
			 &lt;p v-show="seen">hah&lt;/p>//控制显隐<br/>
			 <b>循环绑定：</b><br/>
			 &lt;p v-for="list in lists">{{alist.text}}&lt;/p><br/>
			&lt;p v-for="(key value) in lists">{{key}}:{{value}}&lt;/p><br/>
			 &lt;p v-for="(index key value) in lists">{{index}}:{{key}}:{{value}}&lt;/p>
		</li>
		<li contentEditable="true" >
			<b>事件绑定：</b><br/>
			&lt;a v-on:click="fun1">点击&lt;/a> <br/>
			&lt;a @click="fun1">点击&lt;/a> <br/>
			  <b>事件修饰符：</b><br/>
			  <!-- 阻止单击事件冒泡 -->
			&lt;a v-on:click.stop="doThis">&lt;/a><br/>
			  <!-- 只有修饰符 -->
			&lt;form v-on:submit.prevent>&lt;/form><br/>
			  <!-- 添加事件侦听器时使用事件捕获模式 -->
			&lt;div v-on:click.capture="doThis">...&lt;/div>
			  <!-- 只当事件在该元素本身（而不是子元素）触发时触发回调 -->
		</li>
		<li contentEditable="true" >
			<b>运算绑定：</b><br/>
			&lt;p>{{reverseMess}}&lt;p/><br/>
			<b>表单系列：</b><br/>
			&lt;input type="checkbox" value="input1" v-model="message"><br/>
			&lt;input type="radio" value="one" v-model="message"><br/>
			&lt;select v-model="selected">&lt;/select>
		</li>
		<li contentEditable="true" >
			&lt;div id="vue10">{{reservemsg}}&lt;/div><br/>
			computed:{<b>//计算属性</b><br/>
				reservemsg:function(){<br/>
					return this.message.split("").reverse().join("");<br/>
				}<br/>
			}<br/>
			&lt;div id="vue10">{{reservemsg()}}&lt;/div><br/>
			methods:{<b>//方法属性</b><br/>
				reservemsg:function(){<br/>
					return this.message.split("").reverse().join("");<br/>
				}<br/>
			}
		</li>
	</ul>
</div>
<div class="section section4"  >
	<p class="title">组件化</p>
	<div>	
		<div class="con-left">
			<img  src="./images/components.png" class="icon"/>
			<div id="components-demo" >
			  <button-counter></button-counter>
			  <button-counter></button-counter>
			  <button-counter></button-counter>
			</div>
		</div>
		
		<div class="right" style="border:0;">
				<div contentEditable="true" >
				<b>全局创建组件：</b><br>
				Vue.component("my-component",{<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; data: function () {<br>
				    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return {count: 0}<br>
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br>
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;template: '&lt;button v-on:click="count++">You clicked me {{ count }} times.&lt;/button>'<br>
			})<br>
				//页面调用<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div id="element"><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;my-component>&lt;/my-component><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div><br>
				//注册实例<br>
				&nbsp;&nbsp;&nbsp;&nbsp;new Vue({<br>
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;el: '#example',<br>
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;components: {<br>
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'parent': parentNode<br>
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
				&nbsp;&nbsp;&nbsp;&nbsp;})
							</div>
				<div contentEditable="true" >
				<b>局部创建组件：</b><br>
				var app = new Vue({<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;el:"#element",<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;components:{<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"my-component":{template:"......"}<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"my-component1":{template:"......"}<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
				})<br>
				</div>
		</div>
	</div>
</div>
<div class="section section5">
	<p class="title">组件间	通信</p>
	<ul>
	<li class="sectin5-con" contentEditable="true" >
		<p>
			<b>场景：</b>有两个组件A和B，A组件里面有个B组件，那么A就是B组件的父组件，B就是子组件。<br>它俩的通信关系：父组件通过prop给子组件传递数据，子组件通过事件给父组件发送消息。
		</p>
		Vue.component("child",{<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;props:["message"],<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;template:"&lt;span>{{message}}&lt;/span>"<br>
		})<br>
		&lt;child message="hello">&lt;/child><br>
		会渲染hello出来<br>
		绑定整个数据对象：<br>
		&lt;div v-bind="todo">&lt;/div><br>
		todo:{<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;text:"hahaha",<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;age:10<br>
		}<br>

		用prop传递数据，在html上的规范<br>
		&lt;child my-msg="1">&lt;/child>//这个传递的是字符串1<br>
		&lt;child v-bind:my-msg="1">&lt;/child>//这个是传递的数字1，要用bind绑定起来
	</li>
	<li contentEditable="true" >
		<b>动态绑定prop：</b>
		&lt;div id="vue20"><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" v-model="message" name=""><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;child :msg="message">&lt;/child><br>//注意这里是绑定状态，不是直接的赋值，绑定了实例里的数据<br>
		&lt;/div><br>
		var vue20 = new Vue({<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;el:"#vue21",<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data:{<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;message:"hahahah"<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;components:{<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"child":{<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;props:["msg"],//在子组件上声明的属性<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;template:"&lt;p>{{msg}}&lt;/p>"<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
		})<br>
	</li>
	<li contentEditable="true" >
		<b>单向数据流：</b>就是父组件可以向子组件传递数据，传递的数据如果被修改，那么也会动态改变子组件里保存的数据，但是反过来就不行了。<br>
		但是有两种情况：<br>
		1、想在子组件里把传入的数据当做局部变量用。<br>
		解决：props：["message"],<br>
		    data:function(){<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return {content :this.message}//把传入的数据赋值给其他变量<br>
		}<br>
		2、prop作为原始数据传入后，由子组件处理为其他数据输出<br>
		解决：props:["size"],<br>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;computed:{//定义一个计算属性，处理好prop的值后返回<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;normal:function(){<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return this.size.trim().toLowerCase();<br>
		&nbsp;&nbsp;&nbsp;&nbsp;}<br>
		}
	</li>
</ul>
</div>
<div class="section section6">
	<p class="title">深入组件</p>
	<ul>
		<li contentEditable="true" >
			<p><b>满足多人协作使用组件-组件验证</b></p>
			<p>
				&lt;div id="app"><br>
				        &lt;foo-component :foo-message="fooMessage">&lt;/foo-component>  <br>
				    &lt;/div><br>
				var fooComponent = {<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;props: {<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fooMessage: {<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ype: Number<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;template: '&lt;div> {{ fooMessage }} &lt;/div>'<br>
				&nbsp;&nbsp;&nbsp;&nbsp;};<br>
				    var vm = new Vue({<br>
				&nbsp;&nbsp;&nbsp;&nbsp;components: {<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 'foo-component': fooComponent<br>
				&nbsp;&nbsp;&nbsp;&nbsp; },<br>
				        el: '#app',<br>
				&nbsp;&nbsp;&nbsp;&nbsp;data: {<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fooMessage: 'foobar'<br>
				&nbsp;&nbsp;&nbsp;&nbsp;}<br>
				    });<br>

			</p>
		</li>
		<li contentEditable="true">
			<p><b>事件绑定-子组件向父组件传递数据</b></p>
			<p>
				使用 $on(eventName) 监听事件<br>
				使用 $emit(eventName) 触发事件
			</p>
			<div id="example">
			  	<parent></parent>
			</div>
			&lt;div id="example"><br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;parent>&lt;/parent><br>
			&lt;/div><br>
			//<b>子组件</b><br>
			var childNode = {<br>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; template: `&lt;button @click="incrementCounter">{{ counter }}&lt;/button>`,<br>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; data(){<br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return { counter: }；<br>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; },<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;methods:{<br>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; incrementCounter(){<br>
			     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; this.counter ++;<br>
			      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;this.$emit('increment');<br>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; },<br>
			}<br>
		</li>
		<li contentEditable="true">
			//<b>父组件</b><br>
			var parentNode = {<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;template: `<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="parent"><br>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &lt;p>{{total}}&lt;/p><br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;child @increment="incrementTotal">&lt;/child><br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;child @increment="incrementTotal">&lt;/child><br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div>`,<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;components: {<br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'child': childNode<br>
			 &nbsp;&nbsp;&nbsp;&nbsp; },<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;data(){<br>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return {'total':0}<br>
			 &nbsp;&nbsp;&nbsp;&nbsp; },<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;methods:{<br>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; incrementTotal(){<br>
			     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; this.total ++;<br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
			 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }<br>
			&nbsp;&nbsp;&nbsp;&nbsp;};<br>
			// <b>创建根实例</b><br>
			new Vue({<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;el: '#example',<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;components: {<br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'parent': parentNode<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  }<br>
			})<br>

		</li>

	</ul>
</div>
<div class="section section7">
	<p class="title" >动态组件</p>
	<div style="padding-left:30px;">
		<b>keep-alive</b>
		&lt;component v-bind:is="currentTabComponent">&lt;/component><br>
		&lt;keep-alive><br>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;component v-bind:is="currentTabComponent">&lt;/component><br>
		&lt;/keep-alive><br>
		场景：在调用多组件的时候，不改变当前的浏览状态，减少渲染页面带来的性能损耗，缓存当前组件状态，当组件被第一次渲染出来时就缓存下来。
		<a href="https://fiddle.jshell.net/chrisvfritz/Lp20op9o/show/" target="_blank">如下效果</a>
		<ul>
		<li style="width:49%; float:left;">
		组件引用：select01.vue<br>
		&lt;template><br>
			 &nbsp;&nbsp;&nbsp;&nbsp; &lt;div slot='select01'>{{msg}}&lt;/div><br>
			&lt;/template><br>
			&lt;script><br>
			&nbsp;&nbsp;&nbsp;&nbsp;export default {<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data(){<br>
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; return{msg:"select01" }<br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
			&nbsp;&nbsp;&nbsp;&nbsp;}<br>
		&lt;/script>
		</li>
		<li style="width:49%; float:right;">
			调用：import select1 from './components/select01.vue';<br>
		&nbsp;&nbsp;&nbsp;&nbsp;export default {<br>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; name: 'app',<br>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; data () {<br>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return {tabView: 'select1' }<br>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;components: select1,<br>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;methods: {<br>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tabChange:function(tab){<br>
		     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; this.tabView = tab;<br>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
		  &nbsp;&nbsp;&nbsp;&nbsp;}<br>
		}

		</li>
	</ul>
	</div>
	
</div>
<div class="section section8">
	<p class="title">路由</p>
	<iframe src="./vue.html" style="width:100%; height:260px;"></iframe>
	<ul>
		<li style="width:40%;  margin-left:7%;float:left;" contentEditable="true">
			const php = Vue.extend({//创建组件<br>
			&nbsp;&nbsp;&nbsp;&nbsp;emplate:"#php"<br>
			})<br>
			const routes = [//注册路由<br>
			&nbsp;&nbsp;&nbsp;&nbsp;{path:'/php',component:php},<br>
			&nbsp;&nbsp;&nbsp;&nbsp;{path:'/',redirect:'/php'}<br>
			]<br>
			const router = new VueRouter({routes})//把路由实例化<br>
			new Vue({//挂载路由实例<br>
				router<br>
			}).$mount("#apphash")<br>
		</li>
		<li style="width:49%; float:left;" contentEditable="true">
			//导航模块<br>
			&ltrouter-link to="/php" >php&lt/router-link><!--这里会被渲染成a标签--><br>
			//内容模块<br>
			&ltrouter-view>&lt/router-view><br>
			//组件区模块<br>
			&lttemplate id  = "php"><br>
			&nbsp;&nbsp;&nbsp;&nbsp;&lth2>this is php&lt/h2><br>
			&lt/template><br>

		</li>
		
	</ul>
	
		
		

</div>
<div class="section section9" style="text-align: center;">
	<img src="./images/lifecycle.png">
</div>
<div class="section section10">
	周末愉快！
</div>
<script src="./js/jquery-1.9.1.min.js "></script>
<script src="js/jquery.fullPage.min.js"></script>
<script src="./js/jqueryui.js "></script>
<script type="text/javascript" src="./js/knockout-3.1.0.js"></script>
<script>	
$(function(){

	$.fn.fullpage({
		verticalCentered: false,
		anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6', 'page7', 'page8', 'page9', 'page10'],
		navigation: true,
		navigationTooltips: ['首页', "基本语法", '组件化', '组件间通信', '深入组件', '动态组件', '路由', '', '', '']
	});
	
	$(".icon").css("margin-top",($(window).height()-$(".icon").height())/2);
	$(".section").height($(window).height());
	$(".section2 .right").height($(".section2 .left").height()-70);
	$(window).resize(function(){
		$(".icon").css("margin-top",($(window).height()-$(".icon").height())/2);
		$(".section").height($(window).height());
		$(".section2 .right").height($(".section2 .left").height()-70);
	})
	var app = new Vue({
		el:"#app",//这里！！！
		data:{
			msg:"hello world",
			html1:`<div v-html="htmlMess"></div>`
		}
	})
	new Vue({ el: '#components-demo' })
	var childNode = {
	  template: `<button @click="incrementCounter">{{ counter }}</button>`,
	  data(){
	    return {
	      counter: 1
	    }
	  },
	  methods:{
	    incrementCounter(){
	      this.counter ++;
	      this.$emit('increment');
	    }
	  },
	}
	var parentNode = {
	  template: `
	  <div class="parent">
	    <p>{{total}}</p>
	    <child @increment="incrementTotal"></child>
	    <child @increment="incrementTotal"></child>
	  </div>
	  `,
	  components: {
	    'child': childNode
	  },
	  data(){
	    return {
	      'total':0
	    }
	  },
	  methods:{
	    incrementTotal(){
	      this.total ++;
	    }
	  }
	};
	// 创建根实例
	new Vue({
	  el: '#example',
	  components: {
	    'parent': parentNode
	  }
	})
});
var viewModel = {
	value: ko.observable("hello world")
}
ko.applyBindings(viewModel);
function oncheck(){
	
}
</script>
</body>

</html>